<div class="row justify-content-center mt-5">
    <div class="col-5">
      <a href="/admin/tambah_agenda">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title">Tambah Agenda</h5>
            <!-- <a href="#" class="btn btn-primary">Lihat</a> -->
          </div>
        </div>
      </a>
    </div>
    <div class="col-5 mb-5">
      <a href="/admin/daftar_agenda">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">Daftar Agenda</h5>
          <!-- <a href="#" class="btn btn-primary">Lihat</a> -->
        </div>
      </div>
    </a>
    </div>
  </div>
 